@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

body{
    font-family: "Montserrat";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}